/* caja del input*/
* {
    box-sizing: border-box;
}

/* Remueve los puntos de la lista*/
ul {
    margin: 0;
    padding: 0;
}

/*estilo de la lista(base)*/
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 20px;/*medidas cuadro lista*/
    background: #5C6BC0;
    font-size: 18px; /*tamaño letra de la lista*/
}

/* color secundario lista */
ul li:nth-child(odd) {
    background: #9FA8DA;
}

/* color cuando pasa el mouse */
ul li:hover {
    background: #03A9F4;
}

/*para marcar una tarea como completada*/
ul li.checked {
    background: #03A9F4; /*fondo*/
    color: #E0F7FA; /*letra*/
    text-decoration: line-through; /*linea tachado*/
}

/* Checked cuando marco tarea como completada */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #FF3D00;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

h1{
    color: #E8EAF6;
}
li{
    color: #CFD8DC;
}

/* estilo de header */
.header {
    background-color: #4A148C;
    padding: 30px 40px;
    color: #4A148C;
    text-align: center;
}

/* estilo del  input */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* estilo del botón para agregar tareas */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #AB47BC;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
/*estilo del botón cuando se hace click*/
.addBtn:hover {
    background-color: #FFB74D;
}
body {
background-color: #212121;

  }
  li:before /*Agrega - antes del elemento de la lista*/
{
    content: '-';   
    margin-left: -1em;
    margin-right: .100em;
}